$founder-color-orange-default: orange;

$founder-color-orange-100: orange * 0.9;
$founder-color-orange-200: orange * 0.8;
$founder-color-orange-300: orange * 0.7;
$founder-color-orange-400: orange * 0.6;
$founder-color-orange-500: orange * 0.5;
$founder-color-orange-600: orange * 0.4;

// option 一样 一般都会有一个默认的 default的
$tr-height: 30px !default;

