body {
  color: #333; // 这种注释内容不会出现在生成的css文件中
  padding: 0; /* 这种注释内容会出现在生成的css文件中 */
}

//当注释出现在原生css不允许的地方，如在css属性或选择器中，sass将不知如何将其生成到对应css文件中的相应位置，于是这些注释被抹掉。
span {
  color /* 这块注释内容不会出现在生成的css中 */: #333;
  padding:  /* 这块注释内容也不会出现在生成的css中 */ 0;
}